@font-face {
  font-family: "iconfont"; /* Project id 4839963 */
  src: url('iconfont.woff2?t=1740902292455') format('woff2'),
       url('iconfont.woff?t=1740902292455') format('woff'),
       url('iconfont.ttf?t=1740902292455') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gf-volumeCross:before {
  content: "\ea0f";
}

.icon-24gf-volumeHigh:before {
  content: "\ea11";
}

.icon-zhiding:before {
  content: "\e623";
}

.icon-shangyi:before {
  content: "\e600";
}

.icon-xiayi:before {
  content: "\e647";
}

.icon-zhiding1:before {
  content: "\e633";
}

.icon-stop:before {
  content: "\e91d";
}

.icon-liebiao:before {
  content: "\e602";
}

.icon-chaxun:before {
  content: "\e622";
}

.icon-open:before {
  content: "\e6d3";
}

.icon-download:before {
  content: "\e60e";
}

.icon-pause:before {
  content: "\e610";
}

.icon-microphone-disable:before {
  content: "\e611";
}

.icon-microphone:before {
  content: "\e613";
}

.icon-play:before {
  content: "\e614";
}

.icon-repeat:before {
  content: "\e615";
}

.icon-play-previous:before {
  content: "\e616";
}

.icon-play-next:before {
  content: "\e617";
}

.icon-rewind-forward:before {
  content: "\e618";
}

.icon-reload:before {
  content: "\e619";
}

.icon-rewind-back:before {
  content: "\e61a";
}

.icon-volume-down:before {
  content: "\e61b";
}

.icon-sound-on:before {
  content: "\e61c";
}

.icon-settings:before {
  content: "\e61d";
}

.icon-sound-off:before {
  content: "\e61e";
}

.icon-volume-up:before {
  content: "\e61f";
}

.icon-lock:before {
  content: "\e620";
}

.icon-unlock:before {
  content: "\e621";
}

.icon-quanpingzhankai:before {
  content: "\e607";
}

.icon-shouqi:before {
  content: "\e608";
}

.icon-tuding:before {
  content: "\e60b";
}

.icon-tuding-weisuoding:before {
  content: "\e60c";
}

.icon-chuangkou:before {
  content: "\e60d";
}

.icon-guanbi:before {
  content: "\e60f";
}

.icon-zuixiaohua:before {
  content: "\e612";
}

.icon-zuidahua:before {
  content: "\e799";
}

